body
{
    background-image: url(background.jpg);
    color: #243d13;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    zoom:125%;
}

.container
{
    margin: 20px auto !important;
    padding: 20px !important;
    width: 375px;
    border-radius: 25px;
    border: 2px solid #243d13;
    background: #8dc970;
}

.container.tipContainer
{
    background: #ccf192;
    font-weight: bold;
}

h1
{
    font-style: italic;
    font-weight: 600;
}

input[name='subtotal']
{
    width:100px !important;
}

input[name='customTipPercentage']
{
    text-align: right !important;
    width: 50px !important;
}

input[name='split']
{
    text-align: right !important;
    width: 60px !important;
}

.btn
{
    border: 2px solid #243d13;
    background: #243d13;
    color: white;
}

.btn:hover
{
    background: #39621e;
    color: white;
}

/* Bootstrap CSS bug was breaking the form on small screens,
   so the below styles for screens >= 768px are being applied
   globally to patch the issue. */

.form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
}
.form-inline .input-group .input-group-addon,
.form-inline .input-group .input-group-btn,
.form-inline .input-group .form-control {
    width: auto;
}